@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*, *:before, *:after {
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: 'Lato', sans-serif;
}

header {
	background-color: blue;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1.3rem;
	padding: 6px 8px;

	i {
		cursor: pointer;
	}
}

main {
	width: 100%;
	max-width: 700px;
	margin: 0 auto;

	.run-row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 5px;

		&.run-done {
			background-color: #c7e7c7;
			border-color: #bbddbb !important;
		}

		&:not(:last-child) {
			border-bottom: 1px solid #ddd;

			&:nth-child(3n) {
				border-width: 2px;
			}
		}

		.run-details {
			padding: 2px 0px;
			display: flex;
			align-items: center;

			> span {
				padding: 0 5px;
			}

			.run-date {
				font-size: 0.8rem;
				color: #777;

				&.edited-date {
					color: #000;
				}

				input {
					border: none;
					font-size: 0.8rem;
				}
			}
		}

		.progress {
			flex: 1;
		}

		input {
			margin-left: 8px;
			margin-right: 8px;
		}
	}
}
